<template>
  <table class="table">
    <thead>
        <tr>
        <th class="align-middle" scope="col">ID</th>
        <th class="align-middle" scope="col">Image</th>
        <th class="align-middle" scope="col">Item Name</th>
        <th class="align-middle" scope="col">Price</th>
        <th class="align-middle" scope="col">
          <button type="button" class="btn btn-primary" @click="showModal">New Item</button>
                <Modal v-show="isModalVisible" @close="closeModal"/>
        </th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(post, id) in cook" :key="id">
            <td class="align-middle">{{ post.id }}</td>
            <td class="align-middle"><img :src="post.image" id="itemimg" style="border: 1px solid white; border-radius: 1em"/></td>
            <td class="align-middle">{{ post.name }}</td>
            <td class="align-middle">${{ post.price }}</td>
            <td class="align-middle" scope="row">
                <button type="button" class="btn btn-outline-primary" @click="showModal" style="margin-right:10px">Edit</button>
                <Modal v-show="isModalVisible" v-bind:data="id" @close="closeModal"/>
                <button type="button" class="btn btn-danger" @click="deleteUser(post.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</template>

<script>
import axios from 'axios';
import Modal from '@/views/Modal.vue';

export default {
  name: "cook",
  components: {
    Modal,
  },
  data() {
    return {
      cook: [],
      id: [],
      image: '',
      name: '',
      price: '',
      isModalVisible: false,
      text: ''
    };
  },

  methods: {
    
    //Modal
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
      
    //Get   
    fetchCook() {
      const apiUrl = "http://157.230.42.209:3000/item-list";
      this.$http.get(apiUrl)
      .then((result) => {
        this.cook = result.data.data
      })
      .then(data => {
        // Work with JSON data here
        console.log(data);
            this.image = data ;
      })
    },

    //Add
    async storeUser() {
    try {
        const user = await axios.post(
        "http://157.230.42.209:3000/item-list",
        {
            image: this.image,
            name: this.name,
            price : this.price
        }
        );

        console.log(user)
    } catch(e) {
        console.log(e);
    }
    },

    //Edit
    async updateUser() {
    try {
        const post = await axios.put(
        "http://157.230.42.209:3000/item-list/update-item",
        {
            id: this.post.id,
            name: this.post.name,
            price: this.post.price,
            image: this.post.image,
        }
        );

        console.log(post.data);
        alert("Product updated!");
    } catch (e) {
        console.log(e);
    }
    },
    async editUser(post) {
      this.post.id = post.id;
      this.post.name = post.name;
      this.post.price = post.price;
      this.post.image = post.image;
    },

    //Delete
    async deleteUser(id) {
    let x = window.confirm("You want to delete the Product?");

    if (x) {
        const post = await axios.delete(
        "http://157.230.42.209:3000/item-list/delete-item?id=" + id
        );

        console.log(post);
        alert("Product deleted!");
    }
    },
  },

    mounted() {
        this.fetchCook();
    },
};
</script>

<style scoped>
.table {
  /* display: flex;
  flex-direction: column; */
  font-family: 'Rubik', sans-serif;
  color: #F1E8DB;
  border: 1px solid #eee;
  border: border;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.td {
  margin: 0;
  border: border;
  text-align: center;
  vertical-align: 50%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.th {
  border: border;
  text-align: center;
  vertical-align: 50%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#itemimg{
  display: flex;
  /* justify-content: space-evenly; */
  float: center;
  width:  150px;
  height: 150px;
  object-fit: scale-down;
  margin: auto;
  align-items: baseline;
}
</style>