<template>
  <div class="cookbook">
    <div id="cookbookcarouselcontainer">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" :src="require('../assets/slide1.jpg')" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>First Slide</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum nunc vel orci lacinia aliquet.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" :src="require('../assets/slide2.jpg')" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second Slide</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum nunc vel orci lacinia aliquet.</p>
            </div>          
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" :src="require('../assets/slide3.jpg')" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third Slide</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum nunc vel orci lacinia aliquet.</p>
            </div>          
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    
    <div id="cookbookpdfcontainer">
      <b id="cookbookpdf" style="font-size: 6em">OUR COOK-BOOK</b>
      <div id="cookbookpdfbutton">
        <button class="btn btn--stripe" style="color:#F1E8DB; font-weight:bolder">VIEW AS PDF</button>
      </div>
    </div>
  </div>
</template>

<script>

    // import axios from 'axios';

    export default {
    }
</script>

<style>
.cookbook {
  display: flex;
  font-family: 'Rubik', sans-serif;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #76251E;
}

#cookbookpdfcontainer {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 15em;
}

#cookbookpdfbutton {
  display: flex;
  align-self: center;
  font-family: 'Rubik', sans-serif;
  background-color: #DB4439;
  border: none;
  color: #DB4439;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

</style>