<template>
  <div class="home">
    <div class="home1container">
      <div id="home1itemcontainer">
        <b id="home1item1" style="font-size: 6em">COOKING WITH</b>
        <b id="home1item2" style="font-size: 6em">PASSION FROM</b>
        <b id="home1item3" style="font-size: 6em">THE WORLD UNDER</b>
        <b id="home1item4" style="font-size: 1.8em">SINCE 2012</b>
      </div>
      <div id="home1imgcontainer">
        <img id="home1img" :src="require('../assets/img1.png')"/>
      </div>            
    </div>
    <div class="home2container">
      <div id="home2imgcontainer">
        <img id="home2img" :src="require('../assets/img2.jpg')"/>
      </div>
      <div id="home2itemcontainer">
        <b id="home2item1" style="font-size: 6em">FEEL THE SHARPNESS IN YOUR OWN KITCHEN</b>
        <b id="home2item2" style="font-size: 1.8em">Lorem ipsum dolor sit amet, consectetur adipiscing</b>
        <b id="home2item3" style="font-size: 1.8em">elit. Proin viverra varius turpis rhoncus fermentum. In</b>
        <b id="home2item4" style="font-size: 1.8em">id risus ante. Pellentesque sed rhoncus odio, ut</b>
        <b id="home2item5" style="font-size: 1.8em">lancinia tellus. Suspendisse laoreet diam risus, a</b>
        <b id="home2item6" style="font-size: 1.8em">pellentesque quam dapibus vitae.</b>
      </div>
    </div>
    <div class="home3container">
      <div id="home3titlecontainer">
        <b id="home3title"  style="font-size: 3.0em">AS FEATURED IN</b>
      </div>
      <div id="home3imgcontainer">
        <img id="home3img1" :src="require('../assets/featured1.png')"/>
        <img id="home3img2" :src="require('../assets/featured2.png')"/>
        <img id="home3img3" :src="require('../assets/featured3.png')"/>
        <img id="home3img4" :src="require('../assets/featured4.png')"/>
        <img id="home3img5" :src="require('../assets/featured5.png')"/>
      </div>
    </div>
    <div class="home4container">
      <div id="home4itemcontainer">
        <b id="home4item1" style="font-size: 6em">STOP BY OUR SHOP</b>
        <b id="home4item2" style="font-size: 1.8em">Lorem ipsum solor sit amet, consectetur adipiscing elit. Proin viverra varius turpis rhoncus fermentum. In id risus ante.</b>
        <div id="home4button">
          <a href="http://localhost:8080/shop">
            <button class="btn btn--stripe" style="color:#DB4439; font-weight:bolder">SHOP</button>
          </a>
        </div>
      </div>
      <div id="home4imgcontainer">
        <img id="home4img" :src="require('../assets/img3.jpg')"/>
      </div>
    </div>
    <div class="home5container">
      <b id="home5item1" style="font-size: 6em">"THE BEST COOKWARE WINS THE CUSTOMER'S HEART"</b>
      <b id="home5item2" style="font-size: 1.8em">- Probably not Joseph Stalin</b>
    </div>
  </div>
</template>

<script>
    export default {
    }
</script>

<style>
.home1container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5em;
  text-align: center;
}

#home1itemcontainer {
  display: flex;
  flex-direction: column;
  margin-left: -1em;
  text-align: left;
  padding: 5em;
}

#home1imgcontainer {
  display: flex;
  text-align: right;
  margin-right: 10em;
  padding-left: 5em;
}

#home1img {
  display: block;
  display: flex;
  flex-direction: row;
  height: 500px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(10deg);
  border: 1em solid white;
}

.home2container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #F1E8DB;
  text-align: center;
}

#home2itemcontainer {
  display: flex;
  flex-direction: column;
  padding: 5em;
  color: #DB4439;
  text-align: right;
}

#home2imgcontainer {
  display: flex;
  text-align: left;
}

#home2img {
  /* float: left; */
  /* display: block; */
  display: flex;
  height: auto;
  object-fit: cover;
  width:950px;
  height:950px;
}

.home3container{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  background-color: white;
}

#home3titlecontainer {
  display: flex;
  align-self: center;
  padding-top: 15em;
  padding-bottom: 5em;
  color: #DB4439;
}

#home3imgcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 10em;
  width: auto;
  text-align: center;
  padding-left: 10em;
  padding-right: 10em;
  padding-bottom: 15em;
  padding-top: 5em;
}

#home3img1 {
  display: flex;
  order: 1;
  height: 70px;
  width: auto;
  padding: 1em;
}

#home3img2 {
  display: flex;
  order: 2;
  height: 250px;
  width: auto;
  padding: 1em;
}

#home3img3 {
  display: flex;
  order: 3;
  height: 80px;
  width: auto;
  padding: 1em;
}

#home3img4 {
  display: flex;
  order: 4;
  height: 60px;
  width: auto;
  padding: 1em;
}

#home3img5 {
  display: flex;
  order: 5;
  height: 70px;
  width: auto;
  padding: 1em;
}

.home4container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #DB4439;
  text-align: center;
}

#home4itemcontainer {
  display: flex;
  padding: 5em;
  margin-left: -1em;
  flex-direction: column;
  text-align: left;
}

#home4imgcontainer {
  display: flex;
  text-align: right;
}

#home4img {
  /* float: left; */
  /* display: block; */
  display: flex;
  object-fit: cover;
  width:950px;
  height:950px;
}

#home4button {  
  display: flex;
  align-self: flex-start;
  font-family: 'Rubik', sans-serif;
  background-color: #EDC8BA;
  border: none;
  color: #DB4439;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10em;
}

.home5container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #DB4439;
  padding: 7em;
}

#home5item1{
  display: flex;
  align-self: center;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
}
</style>