<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">

      <!-- Modal 1 -->
      <div class="modal1" role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription">
        <header class="modal-header" id="modalTitle" style="text-align: center">
          <slot name="header" >
            New Product
          </slot>
          <button type="button" class="btn-close" @click="close" aria-label="Close modal">
            x
          </button>
        </header>

        <section class="modal-body" id="modalDescription">
          <slot name="body">
            <input type="url" placeholder="https://example.com" v-model="image"/> <br/>
            <input type="text" placeholder="Product Name" v-model="name"/> <br/>
            <input type="number" placeholder="$0.0" min="1" v-model="price"/> <br/>
          </slot>
        </section>

        <footer class="modal-footer">
          <slot name="footer">
          </slot>
          <button type="button" class="btn-green" @click="storeUser" aria-label="Add Product">
          Add Product
          </button>
        </footer>
      </div>

      <!-- Modal 2 -->
      <div class="modal2" role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription">
        <header class="modal-header" id="modalTitle" style="text-align: center">
          <slot name="header" >
            Edit Product
          </slot>
          <button type="button" class="btn-close" @click="close" aria-label="Close modal">
            x
          </button>
        </header>

        <section class="modal-body" id="modalDescription">
          <slot name="body">
            <input type="number" placeholder="id" v-model="post.id"/> <br/>
            <input type="url" placeholder="https://example.com" v-model="post.image"/> <br/>
            <input type="text" placeholder="Product Name" v-model="post.name"/> <br/>
            <input type="number" placeholder="$0.0" min="1" v-model="post.price"/> <br/>
          </slot>
        </section>

        <footer class="modal-footer">
          <slot name="footer">
          </slot>
          <button type="button" class="btn-green" @click="editUser(post)" aria-label="Add Product">
            Edit Product
          </button>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
import axios from 'axios';

  export default {
    name: 'ModalEdit',
    data() {
      return {
        post: {
          cook: [],
          id: [],
          image: '',
          name: '',
          price: '',
          isModalVisible: false,
          text: ''
        }
      };
    },
    props: [
      "data"
    ],
    methods: {
      close() {
        this.$emit('close');
      },

      // Add
      async storeUser() {
      try {
          const user = await axios.post(
          "http://157.230.42.209:3000/item-list", 
          {
              image: this.image,
              name: this.name,
              price : this.price
          }
          );

          console.log(user)
      } catch(e) {
          console.log(e);
      }
      },

      //Edit
    async updateUser() {
    try {
        const post = await axios.put(
        "http://157.230.42.209:3000/item-list/update-item",
        {
            id: this.post.id,
            name: this.post.name,
            price: this.post.price,
            image: this.post.image,
        }
        );

        console.log(post.data);
        alert("Product updated!");
    } catch (e) {
        console.log(e);
      }
    },
    async editUser(post) {
      this.post.id = post.id;
      this.post.name = post.name;
      this.post.price = post.price;
      this.post.image = post.image;
      this.updateUser();
    },
    },
  };
</script>

<style>
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding-left: 33%;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
}

.modal1 {
  background: #FFFFFF;
  position: relative;
  overflow-x: auto;
  display: flex;
  justify-self: center;
  flex-direction: column;
  height: 50%;
  width: 50%;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-header {
  position: relative;
  border-bottom: 1px solid #eeeeee;
  color: #4AAE9B;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  flex-direction: column;
}

.modal-body {
  position: relative;
  padding: 20px 10px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #4AAE9B;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4AAE9B;
  border: 1px solid #4AAE9B;
  border-radius: 2px;
}

.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity .5s ease;
}
</style>