<template>
  <div class="shoplist">
    <div id="title">
      <h1 style="font-size:10em; color:white">WORLD-CLASS COOKWARE</h1>
      <p style="font-size: 2em; padding: 1em 10em 1em 10em; color: white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin dui vitae diam pharetra facilisis. In pretium velit nec sem volutpat, tempus vulputate orci rutrum.</p>
    </div>
    <div class="row" style="display:flex; row-gap:10px"> 
      <div class="item col-md-4" v-for="(post, id) in cook" :key="id">
        <img :src="post.image" id="itemimg"/>
          <div class="card-body" style="color:white; text-align:center">
            <h2>{{ post.name }}</h2>
            <p>${{ post.price }}</p>
          </div>
        <!-- <h2>{{ post.name }}</h2>
        <p>${{ post.price }}</p> -->
        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "cook",
  data() {
    return {
      cook: [],
      image: [],
    };
  },
  methods: {
    fetchCook() {
      const apiUrl = "http://157.230.42.209:3000/item-list";
      this.$http.get(apiUrl)
      .then((result) => {
        this.cook = result.data.data
      })
      .then(data => {
        // Work with JSON data here
        console.log(data);
            this.image = data ;
      })
    }
  },
  mounted() {
    this.fetchCook();
  }, 
};
</script>

<style>
.shoplist {
  display: flex;
  flex-direction: column;
  padding: 5em;
  align-items: flex-start;
}

#title {
  display:flex;
  flex-direction: column;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#itemimg{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  align-items: baseline;
}

.card-body {
  display: flex;
  flex-direction: column;
}
</style>