<template>
  <div class="visitus">
    <div class="visituscontainer">
      <!-- visit -->
      <div id="visitusitemcontainer">
        <b id="visitusitem1" style="font-size: 8em">VISIT</b>
        <b id="visitusitem2" style="font-size: 1em">1088 Marine Corps Dr #143, Dededo, 96929, Guam</b>
        <b id="visitusitem3" style="font-size: 1em">+1 671-637-COOK</b>
        <b id="visitusitem4" style="font-size: 3em; padding-top: 0.5em">OUR HOURS</b>
        <b id="visitusitem5" style="font-size: 1em">TUESDAY-SUNDAY</b>
        <b id="visitusitem6" style="font-size: 1em">11 am - 6 pm</b>
        <b id="visitusitem7" style="font-size: 1em">Closed on Mondays</b>
        <b id="visitusitem8" style="font-size: 3em; padding-top: 0.5em">KEEP IN TOUCH</b>
        <b id="visitusitem9" style="font-size: 1em">Follow us on 
          <a href="https://www.instagram.com/" style="color: #76251E">Instagram</a></b>
        <b id="visitusitem10" style="font-size: 1em">Like us on 
          <a href="https://www.facebook.com/" style="color: #76251E">Facebook</a></b>
        <b id="visitusitem11" style="font-size: 1em">Subscribe on 
          <a href="https://www.youtube.com/" style="color: #76251E">Youtube</a>
        </b>
        <b id="visitusitem12" style="font-size: 3em; padding-top: 0.5em">FOR BULK ORDERS</b>
        <b id="visitusitem13" style="font-size: 1em">Obama In Disguise</b>
        <b id="visitusitem14" style="font-size: 1em">
          <a href="https://www.google.com/gmail/" style="color: #76251E">obama.in.disguise@presidents.com</a></b>
      </div>
      <!-- gmap -->
      <div id="contacusmap">
        <div id="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.626752254481!2d106.78975151525034!3d-6.180686562283711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f747692c6851%3A0x298bef37a3ad461b!2sTaman%20Anggrek%20Residences!5e0!3m2!1sen!2sjp!4v1641807111353!5m2!1sen!2sjp" 
            width="650" 
            height="650" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy">
          </iframe>
        </div>
      </div>
    </div>
    <div class="contactuscontainer">
      <!-- gambar contact us -->
      <div id="contactusimgcontainer">
        <img id="contactusimg" :src="require('../assets/contactus.png')"/>
      </div>
      <!-- contact us form -->
      <div style="color:black; margin-right:8em">
        <h2 style="color:#DB4439; font-size:5em">CONTACT US</h2>
          <form v-on:submit.prevent="handleSubmit" @submit="checkForm" method="post">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter Name" v-model="form.name">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email"
                v-model="form.email">
            </div>
            <div>
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="tel" class="form-control" id="phone" placeholder="Enter Phone Number"
                  v-model="form.phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
              </div>
              <div class="form-group">
                <label for="formControlRange">Gender</label><br/>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="gender-male" value="0"
                      v-model="form.gender">
                      <label class="form-check-label" for="gender">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="gender-female" value="1"
                      v-model="form.gender">
                      <label class="form-check-label" for="gender">Female</label>
                  </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="terms" value="yes" v-model="form.terms">
                <label 
                  class="form-check-label" 
                  for="inlineCheckbox3">
                  I understand by submitting I am willing to be contacted by 
                    <strong style="font-style:italic">Brund<sup>&reg;</sup>'s</strong> Marketing team</label>
              </div>
            </div>
            <div class="form-group">
              <button 
                class="btn btn-primary" 
                type="submit" 
                value="submit" 
                style="color: #F1E8DB; 
                background-color: #DB4439; 
                font-weight: bolder;
                display: flex;
                align-self: center;
                font-family: 'Rubik', sans-serif;
                border: none;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 3em;">Submit</button>
            </div>
        </form>
      </div>
    </div>  
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'PostFormAxios',
  data(){
      return{
          form: {
              name: null,
              email: null,
              phone: null,
              gender: [],
              terms: false,
              submitting: false
          
          },
      };
  },
  methods:{
    checkForm: function (e) {
      this.errors = [];

      if (!this.name) {
        this.errors.push("Name required");
      }
      if (!this.email) {
        this.errors.push('Email required');
      } else if (!this.validEmail(this.email)) {
        this.errors.push('Valid email required.');
      }

      if (!this.errors.length) {
        return true;
      }

      e.preventDefault();
    },

    validEmail: function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },

    fetchCook() {
      const apiUrl = "http://157.230.42.209:3000/contact-form";
      this.$http.get(apiUrl)
      .then((result) => {
        this.cook = result.data
      })
    },

    async handleSubmit() {
    try {
        const user = await axios.post(
        "http://157.230.42.209:3000/contact-form", 
        {
            name: this.form.name,
            email: this.form.email,
            phone_no : this.form.phone,
            gender: this.form.gender
        }
        );

        console.log(user)
    } catch(e) {
        console.log(e);
    }
    },
  },
};
</script>

<style>
.visitus {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.visituscontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 5em;
}

#visitusitemcontainer {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: normal;
  text-align: left;
}

#contactusmap {
  display: flex;
  align-items: baseline;
}

#map {
  display: flex;
  align-self: center;
  padding-top: 2em;

}

.contactus {
  display: flex;
  background-color: #F1E8DB;
  color: #DB4439;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contactuscontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #F1E8DB;
  padding-top: 10em;
  padding-bottom: 10em;
}

#contacusimgcontainer {
  display: flex;
  align-items: center;
}

#contactusimg {
  width: 55em;
  padding: 8em;
}

#contactustitle {
  color: #DB4439;
}

#formbuttoncontainer {
  display: flex;
  flex-shrink: 2;
  font-family: 'Rubik', sans-serif;
  background-color: #DB4439;
  border: none;
  color: #DB4439;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-right: 32.7em;
  cursor: pointer;
  border-radius: 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#contactusform {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  color: black;
}
</style>