<template>
  <div id="app">
    <div id="nav">
      <div id="logo">
        <a href="/home">
          <img src="@/assets/logo_light.png"/>
        </a>
      </div>
      <div id="tab">
        <router-link to="/shop" style="padding:1em"><h1 id="tab">SHOP</h1></router-link> 
        <router-link to="/cookbook" style="padding:1em"><h1 id="tab">COOK BOOK</h1></router-link> 
        <router-link to="/visitus" style="padding:1em"><h1 id="tab">VISIT US</h1></router-link> 
      </div>
      <div id="buttoncontainer">
        <a href="http://localhost:8080/shop">
          <button class="btn btn--stripe" style="color:#DB4439; font-weight:bolder">SHOP NOW</button>
        </a>
      </div>      
    </div>
    <router-view/>
    <div class="footer">
      <!-- logo -->
      <div id="footerlogocontainer">
        <img id="footerlogo" :src="require('./assets/logo_light.png')"/>
      </div>
      <div id="footerdesccontainer">
        <!-- visit us  -->
        <div id="footervisitcontainer">
          <b id="footervisit1" style="font-size: 1.9em">VISIT US</b>
          <b id="footervisit2" style="font-size: 1.2em; padding-top: 1em; font-weight: normal">1088 Marine Corps Dr #143, Dededo, 96929, Guam</b>
          <b id="footervisit3" style="font-size: 1.2em; padding-top: 1em; font-weight: normal">+1 671-637-COOK</b>
        </div>
        <!-- our hours  -->
        <div id="footerhourcontainer">
          <b id="footerhour1" style="font-size: 1.9em">OUR HOURS</b>
          <b id="footerhour2" style="font-size: 1.2em; padding-top: 1em; font-weight: normal">TUESDAY-SUNDAY</b>
          <b id="footerhour3" style="font-size: 1.2em; padding-top: 1em; font-weight: normal">11 am - 6 pm</b>
          <b id="footerhour1" style="font-size: 1.2em; padding-top: 1em; font-weight: normal">Closed on Mondays</b>
        </div>
        <!-- keep in touch -->
        <div id="footerkeepcontainer">
          <b id="footerkeep1" style="font-size: 1.9em">KEEP IN TOUCH</b>
          <b id="footerkeep2" style="font-size: 1.2em; padding-top: 1em; font-weight: normal">Follow us on 
            <a href="https://www.instagram.com/" style="color: #DB4439;">Instagram</a></b>
          <b id="footerkeep3" style="font-size: 1.2em; padding-top: 1em; font-weight: normal">Like us on 
            <a href="https://www.facebook.com/" style="color: #DB4439;">Facebook</a></b>
          <b id="footerkeep4" style="font-size: 1.2em; padding-top: 1em; font-weight: normal">Subscribe us on 
            <a href="https://www.youtube.com/" style="color: #DB4439;">Youtube</a></b>
        </div>
        <!-- for bulk orders -->
        <div id="footerbulkcontainer">
          <b id="footerbulk1" style="font-size: 1.9em">FOR BULK ORDERS</b>
          <b id="footerbulk2" style="font-size: 1.2em; padding-top: 1em; font-weight: normal">Obama in Disguise</b>
          <b id="footerbulk3" style="font-size: 1.2em; padding-top: 1em; font-weight: normal">
            <a href="https://www.google.com/gmail/" style="color: #DB4439;">obama.in.disguise@presidents.com</a>
          </b>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#app {
  font-family: 'Rubik', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* text-align: center; */
  color: #EDC8BA;
  background-color: #DB4439;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 50px; */
  padding: 1em;
  background-color: #DB4439;
  text-align: center;
  /* border: #DB4439; */
  color: #EDC8BA;
}

#logo {
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

#tab {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 1.2em;
  /* position: absolute; */
  text-align: center;
  /* margin-left: 10px;
  margin-right: 10px; */
}

#buttoncontainer {
  display: flex;
  align-self: center;
  font-family: 'Rubik', sans-serif;
  background-color: #EDC8BA;
  border: none;
  color: #DB4439;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.footer {
  background-color: #76251E;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em;
}

#footerlogocontainer{
  display: flex;
  align-self: flex-start;
  padding: 2.5em;
  margin-right: 10em;
}

#footerdesccontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#footervisitcontainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

#footerhourcontainer{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

#footerkeepcontainer{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

#footerbulkcontainer{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

#nav a {
  /* font-weight: bold; */
  color: #EDC8BA;
}

/* #nav a.router-link-exact-active {
  color: #42b983;
} */

/* #logo {
  text-align: left;
  size: 5%;
} */
</style>