<template>
  <ul>
    <li v-for="(post, key) in posts" :key="key">
      {{post.title}}
    </li>
  </ul>
</template>

<script>
export default {
  name: "posts",
  data() {
    return {
      posts: []
    };
  },
  methods: {
    fetchPosts() {
      const apiUrl = 'https://jsonplaceholder.typicode.com/posts';
      this.$http.get(apiUrl)
      .then((result) => {
        this.posts = result.data
      })
    }
  },
  mounted() {
    this.fetchPosts();
  }
};
</script>